<link rel="stylesheet" type="text/css" href="/static/js/plugin/layui/v2/css/layui.css"/>
<div class="layui-row" style="margin: 10px;">
    <div class="layui-col-md12">
        <div class="po-toolbar">
            <div class="layui-inline">
                <input class="layui-input" style="height: 30px;line-height: 30px;" name="privilegeOperationName"
                       placeholder=" 操作级权限名称">
            </div>
            <button class="layui-btn layui-btn-xs" data-type="reload"><i class="layui-icon">&#xe615;</i>搜索
            </button>
        </div>
        <table id="privilege-operation-table" lay-filter="pot"></table>
    </div>
</div>

<script type="text/html" id="operatePo">
    <a class="layui-btn layui-btn-danger  layui-btn-xs" lay-event="delPo">删除</a>
</script>
<script src="/static/js/plugin/layui/v2/layui.all.js"></script>
<script type="text/javascript">
    var $ = layui.$;
    var laytable = layui.table;
    $(function () {

        var laytableIns = laytable.render({
            elem: "#privilege-operation-table",
            width: 1007,
            height: 'full-90',
            url: '/oauth2/privilegeOperation/api/list',
            where: {
                pagePrivilegeId: parent.$("#poInPageId").val(),
                privilegeOperationName: ''
            },
            page: true,
            limit: 20,
            even: true,
            cols: [[
                {field: 'id', title: "ID", fixed: true, align: 'center', sort: true},
                {
                    field: 'operationName',
                    title: "操作权限名称",
                    align: 'center',
                    event: 'setOperationName',
                    style: 'cursor: pointer;'
                },
                {field: 'url', title: "资源url", align: 'center', sort: true},
                {field: 'privilegePageName', title: "所在页面名称", align: 'center', sort: true},
                {field: 'pagePrivilegeId', title: "所在页面ID", align: 'center'},
                {field: 'operationTypeName', title: "操作权限类型", align: 'center'},
                {field: 'resourceName', title: "资源名称", align: 'center'},
                {field: 'resourceId', title: "资源ID", align: 'center'},
                {fixed: 'right', title: "操作", align: 'center', toolbar: '#operatePo'}
            ]]
        });

        var active = {
            reload: function () {
                laytableIns.reload({
                    where: {
                        pagePrivilegeId: parent.$("#poInPageId").val(),
                        privilegeOperationName: $("input[name='privilegeOperationName']").val()
                    }
                });
            }
        };

        laytable.on("tool(pot)", function (obj) {
            var data = obj.data;
            if (obj.event === 'setOperationName') {
                layer.prompt({
                    formType: 2
                    , title: '修改 ID 为 [' + data.id + '] 的操作权限名称'
                    , value: data.operationName
                }, function (value, index) {
                    $.post("/oauth2/privilegeOperation/api/edit", {
                        id: data.id,
                        operationName: value
                    }, function (resp) {
                        if (resp.code === 200) {
                            layer.close(index);
                            layer.msg(resp.message);
                        } else {
                            Global.show_error_msg(resp.message)
                        }
                    });
                    //同步更新表格和缓存对应的值
                    obj.update({
                        operationName: value
                    });
                });
            }
            else if (obj.event === 'delPo') {
                layer.confirm('确定删除[' + data.operationName + ']？', function (index) {
                    $.post("/oauth2/privilegeOperation/api/delete"
                        , {id: data.id}
                        , function (resp) {
                            if (resp.code === 200) {
                                obj.del();
                                layer.close(index);
                                layer.msg(resp.message);
                            } else {
                                Global.show_error_msg(resp.message)
                            }
                        })
                });
            }
        })

        $('.po-toolbar .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        laytable.on("sort(pot)", function (obj) {
            var sort = obj.field;
            var order = obj.type;
            laytableIns.reload({
                where: {
                    pagePrivilegeId: parent.$("#poInPageId").val(),
                    privilegeOperationName: $("input[name='privilegeOperationName']").val(),
                    sort: sort,
                    order: order !== null ? order : ""
                }
            })
        })

    });
</script>