<div class="row">
    <div class="col-md-3" style="margin-top: 5px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <select class="form-control" id="systemModuleSelects"></select>
            </div>
            <div class="panel-body">
                <i class="fa fa-user-circle-o"></i>&nbsp;用户角色树<span id="roleTreeTitle"></span>
                <hr/>
                <ul id="roleTree" class="ztree">
                    <li><span class="text-danger"><i class="fa fa-unlink"></i> 请在第一栏选择系统模块</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="margin-top: 5px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-list-ul"></i>&nbsp;资源模块 / 权限资源树<span id="resModuleTreeTitle"></span>
            </div>
            <div class="panel-body">
                <ul id="resModuleTree" class="ztree">
                    <li><span class="text-danger"><i class="fa fa-unlink"></i> 请在第左栏选择需要配置权限的角色</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/oauth2/privilege.js"></script>
