<div class="row">
    <div class="col-md-4" style="margin-top: 5px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                角色树
            </div>
            <div class="panel-body" style="min-height: 420px; min-width: 340px;">
                <ul id="roleTree" class="ztree">
                    <li>加载中，请稍后...</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="margin-top: 5px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                资源模块树
            </div>
            <div class="panel-body" style="overflow-y: scroll;">
                <ul id="resModuleTree" class="ztree">
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                    <li class="text-danger">请在左侧选择一个角色进行配置</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    pageSetUp();

    var page_function = function () {
        load_roleTree()

    }


    //加载左侧树结构
    var load_roleTree = function () {
        var settings = {
            data: {
                simpleData: {
                    enable: true,
                    rootPId: 0
                }
            },
            view: {
                selectedMulti: false,
            },
            callback: {
                onClick: load_resModuleTree
            }
        };

        $.get("/oauth2/role/api/selectRoleTree", function (json) {
            $.fn.zTree.init($("#roleTree"), settings, json)
        })

    };

    function load_resModuleTree(event, treeId, treeNode) {
        var settings = {
            data: {
                simpleData: {
                    enable: true,
                    rootPId: 0
                }
            },
            async: {
                enable: true,
                url: "/privilege/api/privilegePageTree",
                autoParam: ["id"],
                otherParam: ["resModuleId", 85]
            },
            view: {
                selectedMulti: false,
            },
            callback: {
//                onCheck: //check  是否勾选
            }
        }

        $.get("/resmodule/api/resmoduleTree?roleId=" + treeNode.id, function (json) {
            $.fn.zTree.init($("#resModuleTree"), settings, json)
        })
    }


    // load related plugins
    page_function()
</script>
