<!--suppress HtmlUnknownAttribute -->
<div id="sys_param_dialog" class="hidden" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <!--添加弹出的窗口-->
    <div id="add_sys_param_dialog">
        <form class="form-horizontal" @submit.prevent="handleSubmit_add" method="post">
            <fieldset>
                <!--名称-->
                <div class="form-group" v-bind:class="{ 'has-error': error.nameError }">
                    <label class="col-md-3 control-label">名称</label>
                    <div class="col-md-9">
                        <input class="form-control" placeholder="英文下划线"
                               v-model="sysParam.name">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.nameError }">
                            {{error.nameErrorMsg}}
                        </div>
                    </div>
                </div>
                <!--值-->
                <div class="form-group" v-bind:class="{ 'has-error': error.valueError }">
                    <label class="col-md-3 control-label">值</label>
                    <div class="col-md-9">
                        <input class="form-control"
                               v-model="sysParam.value">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.valueError }">
                            {{error.valueErrorMsg}}
                        </div>
                    </div>
                </div>
                <!--是否可用-->
                <div class="form-group" v-bind:class="{ 'has-error': error.enabledError }">
                    <label class="col-md-3 control-label">是否可用</label>
                    <div class="col-md-9">
                        <label class="radio radio-inline">
                            <input type="radio" v-model="sysParam.enabled"
                                   class="radiobox style-0"
                                   v-bind:value="true" checked>
                            <span>是</span>
                        </label>
                        <label class="radio radio-inline">
                            <input type="radio" v-model="sysParam.enabled"
                                   class="radiobox style-0"
                                   v-bind:value="false" checked>
                            <span>否</span>
                        </label>
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.enabledError }">
                            {{error.enabledErrorMsg}}
                        </div>
                    </div>
                </div>
                <!--排序-->
                <div class="form-group" v-bind:class="{ 'has-error': error.orderError }">
                    <label class="col-md-3 control-label">排序</label>
                    <div class="col-md-9">
                        <input class="form-control" type="number"
                               v-model="sysParam.orderIndex">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.orderError }">
                            {{error.orderErrorMsg}}
                        </div>
                    </div>
                </div>
                <!--备注-->
                <div class="form-group">
                    <label class="col-md-3 control-label">备注</label>
                    <div class="col-md-9">
                        <input class="form-control" placeholder="备注信息（选填）"
                               v-model="sysParam.remark">
                    </div>
                </div>
            </fieldset>
            <button id="systemParamAdd" type="submit" class="hidden"></button>
        </form>
    </div>
    <!--编辑弹出的窗口-->
    <div id="edit_sys_param_dialog">
        <form id="edit-sys-param-form" class="form-horizontal" @submit.prevent="handleSubmit_edit"
              method="post">
            <fieldset>
                <!--名称-->
                <div class="form-group" v-bind:class="{ 'has-error': error.nameError }">
                    <label class="col-md-3 control-label">名称</label>
                    <div class="col-md-9">
                        <input class="form-control" placeholder="英文下划线"
                               v-model="sysParam.name">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.nameError }">
                            {{error.nameErrorMsg}}
                        </div>
                    </div>
                </div>
                <!--值-->
                <div class="form-group" v-bind:class="{ 'has-error': error.valueError }">
                    <label class="col-md-3 control-label">值</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text"
                               v-model="sysParam.value">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.valueError }">
                            {{error.valueErrorMsg}}
                        </div>
                    </div>
                </div>
                <!--是否可用-->
                <div class="form-group" v-bind:class="{ 'has-error': error.enabledError }">
                    <label class="col-md-3 control-label">是否可用</label>
                    <div class="col-md-9">
                        <label class="radio radio-inline">
                            <input type="radio" v-model="sysParam.enabled"
                                   class="radiobox style-0"
                                   v-bind:value="true" checked>
                            <span>是</span>
                        </label>
                        <label class="radio radio-inline">
                            <input type="radio" v-model="sysParam.enabled"
                                   class="radiobox style-0"
                                   v-bind:value="false" checked>
                            <span>否</span>
                        </label>
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.enabledError }">
                            {{error.enabledErrorMsg}}
                        </div>
                    </div>
                </div>
                <!--排序-->
                <div class="form-group" v-bind:class="{ 'has-error': error.orderError }">
                    <label class="col-md-3 control-label">排序</label>
                    <div class="col-md-9">
                        <input class="form-control" type="number"
                               v-model="sysParam.orderIndex">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.orderError }">
                            {{error.orderErrorMsg}}
                        </div>
                    </div>
                </div>
                <!--备注-->
                <div class="form-group">
                    <label class="col-md-3 control-label">备注</label>
                    <div class="col-md-9">
                        <input class="form-control" placeholder="备注信息（选填）"
                               v-model="sysParam.remark">
                    </div>
                </div>

            </fieldset>
            <button id="sytemParamEdit" type="submit" class="hidden"></button>
        </form>
    </div>
</div>
<!-- row -->
<div class="row">
    <div id="system-param-toolbar" class="form-inline">
        <div th:replace="fragment/control::operation(system-param,true)"></div>
    </div>
    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table id="system-param-table">
            <thead>
            <tr>
                <th data-checkbox="true"></th>

                <th data-field="id"
                    data-sortable="true"
                    data-title="ID"
                    data-align="center"></th>

                <th data-field="name"
                    data-sortable="true"
                    data-filter-control="input"
                    data-filter-control-placeholder="输入名称"
                    data-title="名称"
                    data-align="center"></th>

                <th data-field="value"
                    data-sortable="true"
                    data-filter-control="input"
                    data-filter-control-placeholder="输入值"
                    data-title="值"
                    data-align="center"></th>

                <th data-field="enabled"
                    data-title="是否可用"
                    data-filter-data="url:/oauth2/common/select"
                    data-formatter="enabledFormatter"
                    data-align="center"></th>

                <th data-field="updateDate"
                    data-sort-name="update_date"
                    data-sortable="true"
                    data-title="修改时间"
                    data-visible="false"
                    data-formatter="date_formatter"
                    data-align="center"></th>


                <th data-field="createDate"
                    data-sort-name="create_date"
                    data-formatter="date_formatter"
                    data-sortable="true"
                    data-visible="false"
                    data-title="创建日期"
                    data-align="center"></th>


                <th data-field="updateUserName"
                    data-sort-name="update_user_name"
                    data-sortable="true"
                    data-title="修改人"
                    data-visible="false"
                    data-align="center"></th>

                <th data-field="createUserName"
                    data-sort-name="create_user_name"
                    data-sortable="true"
                    data-title="创建人"
                    data-visible="false"
                    data-align="center"></th>

                <th data-field="orderIndex"
                    data-sort-name="order_Index"
                    data-sortable="true"
                    data-visible="false"
                    data-title="排序"
                    data-align="center"></th>

                <th data-field="remark"
                    data-sortable="true"
                    data-title="备注"
                    data-align="center"></th>
            </tr>
            </thead>
        </table>
    </article>
    <!-- WIDGET END -->

</div>

<script src="/static/js/oauth2/system_param.js"></script>
