<div id="system-param">
    <div class="row">
        <toolbar name="systemParam" :show-delete="showDel" :functions="functions"></toolbar>
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <bootstrap-table name="systemParam" :options="tableOptions"></bootstrap-table>
        </section>
    </div>

    <section id="add_sys_param_dialog">
        <form class="form-horizontal" @submit.prevent="handleSubmit_add" method="post">
            <form-input label="名称" placeholder="英文下划线" v-model="model.name" :message="errors.name"></form-input>

            <form-input label="值" placeholder="输入对应的值" v-model="model.value" :message="errors.value"></form-input>

            <form-radio label="是否可用">
                <input type="radio" slot="check" v-model="model.enabled" class="radiobox style-0" v-bind:value="true">
                <input type="radio" slot="nocheck" v-model="model.enabled" class="radiobox style-0"
                       v-bind:value="false">
            </form-radio>

            <form-input label="排序" placeholder="输入排序的顺序编码" v-model="model.orderIndex"
                        :message="errors.orderIndex"></form-input>

            <form-input label="备注" placeholder="备注信息（选填）" v-model="model.remark"></form-input>
            <button id="systemParamAdd" type="submit" class="hidden"></button>
        </form>
    </section>

    <section id="edit_sys_param_dialog">
        <form class="form-horizontal" @submit.prevent="handleSubmit_edit" method="post">
            <form-input label="名称" placeholder="英文下划线" v-model="model.name" :message="errors.name"
                        readonly="true"></form-input>

            <form-input label="值" placeholder="输入对应的值" v-model="model.value" :message="errors.value"></form-input>

            <form-radio label="是否可用">
                <input type="radio" slot="check" v-model="model.enabled" class="radiobox style-0" v-bind:value="true">
                <input type="radio" slot="nocheck" v-model="model.enabled" class="radiobox style-0"
                       v-bind:value="false">
            </form-radio>

            <form-input label="排序" placeholder="输入排序的顺序编码" v-model="model.orderIndex"
                        :message="errors.orderIndex"></form-input>

            <form-input label="备注" placeholder="备注信息（选填）" v-model="model.remark"></form-input>
            <button id="systemParamEdit" type="submit" class="hidden"></button>
        </form>
    </section>

</div>


<script src="/static/js/oauth2/system_param.js"></script>
