<!-- row -->
<!--suppress HtmlUnknownAttribute -->
<div class="row">
    <div id="menu-module-toolbar" class="form-inline">
        <div th:include="fragment/control::operation(menu-module,true)"></div>
    </div>
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table id="menu-module-table">
            <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th data-field="id"
                    data-visible="false"
                    data-sortable="true"
                    data-searchable="true"
                    data-width="150"
                    data-title="菜单ID"
                    data-align="center"></th>

                <th data-field="name"
                    data-sortable="true"
                    data-title="菜单模块名称"
                    data-searchable="true"
                    data-filter-control="input"
                    data-filter-control-placeholder="输入菜单模块名"
                    data-align="center"></th>

                <th data-field="systemCode"
                    data-sort-name="system_code"
                    data-sortable="true"
                    data-search-formatter="false"
                    data-title="所属系统模块编码"
                    data-filter-control="select"
                    data-filter-data="url:/oauth2/systemModule/select"
                    data-align="center"></th>

                <th data-field="iconLarger"
                    data-title="菜单模块大图标"
                    data-align="center"></th>

                <th data-field="iconMini"
                    data-title="菜单模块小图标"
                    data-align="center"
                    data-formatter="iconMiniFormatter"></th>

                <th data-field="enabled"
                    data-formatter="enabledFormatter"
                    data-title="是否可用"
                    data-filter-control="select"
                    data-filter-data="url:/oauth2/common/select"
                    data-align="center"></th>

                <th data-field="updateUsername"
                    data-visible="false"
                    data-title="更新人"
                    data-align="center"></th>

                <th data-field="updateDate"
                    data-formatter="date_formatter"
                    data-visible="false"
                    data-title="更新时间"
                    data-align="center"></th>

                <th data-field="createUsername"
                    data-visible="false"
                    data-title="创建人"
                    data-align="center"></th>

                <th data-field="createDate"
                    data-formatter="date_formatter"
                    data-visible="false"
                    data-title="创建时间"
                    data-align="center"></th>

                <th data-field="orderIndex"
                    data-sort-name="order_index"
                    data-sortable="true"
                    data-title="排序"
                    data-align="center"></th>

                <th data-field="remark"
                    data-title="备注"
                    data-align="center"></th>

            </tr>
            </thead>
        </table>
    </article>
</div>

<div id="menu-module-operation" class="hidden">
    <!--添加弹出的窗口-->
    <div th:replace="router/menu_module/add::addMenuModule"></div>
    <!--编辑弹出窗口-->
    <div th:replace="router/menu_module/edit::editMenuModule"></div>
</div>

<script src="/static/js/oauth2/menu_module.js"></script>
