<link rel="stylesheet" type="text/css" media="screen" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" media="screen"
      href="/static/js/plugin/bootstrap-ztree/css/zTreeStyle/zTreeStyle.css">
<link rel="stylesheet" type="text/css" media="screen"
      href="/static/js/plugin/bootstrap-ztree/css/font-awesome-zTree.css">
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap.min.css"/>

<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body" style="min-height: 300px;">
                    <ul id="userDeptTree" class="ztree"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/libs/jquery-2.1.1.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>
<script src="/static/js/plugin/bootstrap-ztree/js/jquery.ztree.all.min.js"></script>
<script src="/static/js/plugin/bootstrap-ztree/js/jquery.ztree.exhide.min.js"></script>
<script type="text/javascript">

    $(function () {
        var settings = {
            data: {
                simpleData: {
                    enable: true,
                    rootPId: 0
                }
            },
            view: {
                selectedMulti: false
            },
            callback: {
                onDblClick: function (event, treeId, treeNode) {
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.app.user1.departmentName = treeNode.name;
                    parent.app.user1.deptId = treeNode.id;
                    parent.layer.close(index);
                }
            }
        };

        $.get("/oauth2/department/api/selectDepartment", function (json) {
            $.fn.zTree.init($("#userDeptTree"), settings, json)
        })
    })

</script>
