<link rel="stylesheet" type="text/css" media="screen"
      href="/static/js/plugin/bootstrap-ztree/css/metroStyle/metroStyle.css">
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body" style="min-height: 300px;">
                <ul id="RoleTree1" class="ztree"></ul>
            </div>
        </div>
    </div>

</div>

<script src="/static/js/libs/jquery-2.1.1.min.js"></script>
<script src="/static/js/plugin/bootstrap-ztree/js/jquery.ztree.all.min.js"></script>
<script src="/static/js/plugin/bootstrap-ztree/js/jquery.ztree.exhide.min.js"></script>
<script type="text/javascript">



    //    treeObj.hideNodes(nodes[0].children);
    $(function () {

        var settings = {
            data: {
                simpleData: {
                    enable: true,
                    rootPId: 0
                }
            },
            view: {
                selectedMulti: false,
            },
            callback: {
                onDblClick: function (event, treeId, treeNode) {
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.app.user1.roleName = treeNode.name;
                    parent.app.user1.defaultRoleId = treeNode.id;
                    parent.$('#pRoleByTree1').val(treeNode.name);
                    parent.layer.close(index);
                }
            }
        };

        $.get("/oauth2/role/api/selectRoleTree", function (json) {
            $.fn.zTree.init($("#RoleTree1"), settings, json)

        })
    })

</script>
