<!--suppress HtmlUnknownAttribute -->
<div th:fragment="editMenu" id="editMenu">
    <form class="form-horizontal" @submit.prevent="handleEditMenuSubmit" method="post">
        <fieldset>
            <!--菜单名称-->
            <div class="form-group" v-bind:class="{ 'has-error': isHasError(errors.name)}">
                <label class="col-md-3 control-label">菜单名称</label>
                <div class="col-md-9">
                    <input class="form-control" placeholder="菜单名称"
                           v-model="menu.name">
                    <div class="note-error margin-bottom-0"
                         v-bind:class="{ 'has-error text-danger margin-top-10':isHasError(errors.name)}">
                        {{errors.name}}
                    </div>
                </div>
            </div>

            <div class="form-group" v-bind:class="{ 'has-error': isHasError(errors.parentId) }">
                <label class="col-md-3 control-label">上级菜单ID</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input class="form-control" placeholder="选择上级菜单" v-model="menu.parentId" readonly>
                        <div class="input-group-btn">
                            <a class="btn btn-default" onclick="checkParentMenu();"><i
                                    class="fa fa-check-square-o"></i> 选择</a>
                        </div>
                    </div>
                    <div class="note-error margin-bottom-0"
                         v-bind:class="{ 'has-error text-danger margin-top-10': isHasError(errors.parentId) }">
                        {{errors.parentId}}
                    </div>
                </div>
            </div>

            <div class="form-group" v-bind:class="{'hidden':menu.parentName == ''}">
                <label class="col-md-3 control-label">上级菜单名称</label>
                <div class="col-md-9">
                    <input class="form-control" v-model="menu.parentName" readonly>
                </div>
            </div>

            <!--菜单字体图标（小图标）-->
            <div class="form-group">
                <label class="col-md-3 control-label">菜单小图标</label>
                <div class="col-md-9">
                    <input class="form-control" placeholder="字体图标（如：fa fa-ul  填写ul即可）" v-model="menu.icon">
                </div>
            </div>

            <!--菜单图标（大图标）-->
            <div class="form-group">
                <label class="col-md-3 control-label">菜单大图标</label>
                <div class="col-md-9">
                    <input class="form-control" placeholder="图标的图片地址" v-model="menu.iconLarger">
                </div>
            </div>


            <!--排序-->
            <div class="form-group" v-bind:class="{ 'has-error': isHasError(errors.orderIndex) }">
                <label class="col-md-3 control-label">排序</label>
                <div class="col-md-9">
                    <input class="form-control" type="number" v-model="menu.orderIndex" placeholder="排序顺序大小">
                    <div class="note-error margin-bottom-0"
                         v-bind:class="{ 'has-error text-danger margin-top-10': isHasError(errors.orderIndex)  }">
                        {{errors.orderIndex}}
                    </div>
                </div>
            </div>

            <!--//是否可用-->
            <div class="form-group" v-bind:class="{ 'has-error': isHasError(errors.enabled) }">
                <label class="col-md-3 control-label">是否可用</label>
                <div class="col-md-9">
                    <label class="radio radio-inline">
                        <input type="radio" v-model="menu.enabled"
                               class="radiobox style-0"
                               v-bind:value="true">
                        <span>是</span>
                    </label>
                    <label class="radio radio-inline">
                        <input type="radio" v-model="menu.enabled"
                               class="radiobox style-0"
                               v-bind:value="false">
                        <span>否</span>
                    </label>
                    <div class="note-error margin-bottom-0"
                         v-bind:class="{ 'has-error text-danger margin-top-10': isHasError(errors.enabled)}">
                        {{errors.enabled}}
                    </div>
                </div>
            </div>

            <!--//备注信息-->
            <div class="form-group">
                <label class="col-md-3 control-label">备注信息</label>
                <div class="col-md-9">
                    <input class="form-control" placeholder="备注信息（选填）" v-model="menu.remark">
                </div>
            </div>


        </fieldset>
        <button id="doEditMenu" type="submit" class="hidden"></button>
    </form>
</div>