<!--suppress HtmlUnknownAttribute -->
<div th:fragment="editRole" id="editRole">
    <form class="form-horizontal" @submit.prevent="handleEditSubmit" method="post">
        <fieldset>
            <!--角色名称-->
            <div class="form-group" v-bind:class="{ 'has-error': error.nameError }">
                <label class="col-md-3 control-label">角色标识</label>
                <div class="col-md-9">
                    <input class="form-control" placeholder="角色标识（大写英文/下划线）"
                           v-model="role.name" readonly>
                    <div class="note-error margin-bottom-0"
                         v-bind:class="{ 'has-error text-danger margin-top-10': error.nameError }">
                        {{error.nameErrorMsg}}
                    </div>
                </div>
            </div>
            <!--角色名称-->
            <div class="form-group" v-bind:class="{ 'has-error': error.cnNameError }">
                <label class="col-md-3 control-label">角色名称</label>
                <div class="col-md-9">
                    <input class="form-control" placeholder="角色名称（中文）"
                           v-model="role.cnName">
                    <div class="note-error margin-bottom-0"
                         v-bind:class="{ 'has-error text-danger margin-top-10': error.cnNameError }">
                        {{error.cnNameErrorMsg}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">上级角色ID</label>
                <div class="col-md-9">
                    <input id="pIdByTree" class="form-control" placeholder="上级角色" type="text"
                           v-model="role.parentId"
                           readonly>
                    <a id="editGetPId" href="javascript:void(0);"
                       style="margin-top: 15px;display: block;">获取上级角色</a>
                    <div class="note-error margin-bottom-0"
                         v-bind:class="{ 'has-error text-danger margin-top-10': error.parentError }">
                        {{error.parentErrorMsg}}
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">系统模块名称</label>
                <div class="col-md-9">
                    <input class="form-control" id="scb" readonly>
                </div>
            </div>


            <!--排序-->
            <div class="form-group" v-bind:class="{ 'has-error': error.orderIndexError }">
                <label class="col-md-3 control-label">排序</label>
                <div class="col-md-9">
                    <input class="form-control" type="number" v-model="role.orderIndex">
                    <div class="note-error margin-bottom-0"
                         v-bind:class="{ 'has-error text-danger margin-top-10': error.orderIndexError }">
                        {{error.orderIndexErrorMsg}}
                    </div>
                </div>
            </div>

            <!--//是否可用-->
            <div class="form-group">
                <label class="col-md-3 control-label">是否可用</label>
                <div class="col-md-9">
                    <label class="radio radio-inline">
                        <input type="radio" v-model="role.enabled"
                               class="radiobox style-0"
                               v-bind:value="true" checked>
                        <span>是</span>
                    </label>
                    <label class="radio radio-inline">
                        <input type="radio" v-model="role.enabled"
                               class="radiobox style-0"
                               v-bind:value="false" checked>
                        <span>否</span>
                    </label>
                    <div class="note-error margin-bottom-0"
                         v-bind:class="{ 'has-error text-danger margin-top-10': error.enabledError }">
                        {{error.enabledErrorMsg}}
                    </div>
                </div>
            </div>

            <!--//备注信息-->
            <div class="form-group">
                <label class="col-md-3 control-label">备注信息</label>
                <div class="col-md-9">
                    <input class="form-control" placeholder="备注信息（选填）" v-model="role.remark">
                </div>
            </div>


        </fieldset>
        <button id="edit" type="submit" class="hidden"></button>
    </form>
</div>