<link rel="stylesheet" type="text/css" media="screen" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" media="screen"
      href="/static/js/plugin/bootstrap-ztree/css/zTreeStyle/zTreeStyle.css">
<link rel="stylesheet" type="text/css" media="screen"
      href="/static/js/plugin/bootstrap-ztree/css/font-awesome-zTree.css">
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body" style="min-height: 300px;">
                <ul id="RoleTree1" class="ztree"></ul>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/libs/jquery-2.1.1.min.js"></script>
<script src="/static/js/plugin/bootstrap-ztree/js/jquery.ztree.all.min.js"></script>
<script src="/static/js/plugin/bootstrap-ztree/js/jquery.ztree.exhide.min.js"></script>
<script type="text/javascript">

    //    treeObj.hideNodes(nodes[0].children);
    $(function () {
        var settings = {
            data: {
                simpleData: {
                    enable: true,
                    rootPId: 0
                }
            },
            view: {
                selectedMulti: false
            },
            callback: {
                onDblClick: function (event, treeId, treeNode) {
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.app.role.parentId = treeNode.id;
                    parent.layer.close(index);
                }
            }
        }
        $.get("/oauth2/role/api/selectRole?id=0&systemModuleCode=" + parent.$selectedModule.val(), function (json) {
            $.fn.zTree.init($("#RoleTree1"), settings, json)
            //获取角色id
            var id = parent.app.role.id;
            var treeObj = $.fn.zTree.getZTreeObj("RoleTree1");
            //遍历所有节点
            var nodes = treeObj.transformToArray(treeObj.getNodes());
            //通过id获取节点
            var node = treeObj.getNodeByParam("id", id, null);
            //隐藏节点和节点的Children
            treeObj.hideNode(node)
        })
    })

</script>
