* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

body {
    font-family: "Verdana", "Tahoma", "Lucida Grande", "Microsoft YaHei", "Hiragino Sans GB", sans-serif !important;
}

#logo {
    color: #ffffff !important;
    font-size: 20px !important;
    text-align: center !important;
    margin-top: 8px !important;
}

.router-container {
    margin-left: 10px;
}

.smart-style-1 #toolbar {
    padding-bottom: 5px;
}

.smart-style-1 nav ul li.active:not(.open) {
    background-color: #1b1e24;
}

#left-panel .login-info img {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.ui-dialog .ui-dialog-titlebar-close span {
    display: none;
}

.ui-dialog .ui-dialog-buttonpane {
    padding: 10px !important;
}

.ui-dialog .ui-dialog-content {
    padding-top: 1.5em !important;
    padding-right: 3em !important;
}

.bootstrap-table .pull-right .dropdown-menu {
    min-width: 220px !important;
}

div[id$='-toolbar'] {
    float: left !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.smart-style-0 #logo, .smart-style-0 #tp-date {
    color: #0C0C0C !important;
}

.smart-style-4 #tp-date {
    color: #0C0C0C !important;
}

.smart-style-3 .login-info a:hover {
    color: #000000 !important;
}

.smart-style-0 .page-footer {
    background-color: #3a3633 !important;
    color: #c0bbb7 !important;
}

.smart-style-1 .page-footer {
    color: #8b91a0 !important;
}

.smart-style-2 .page-footer {
    background-color: #f7f7f7 !important;
    color: #787572 !important;
}

.smart-style-3 .page-footer {
    background-color: #f2f2f2 !important;
}

.smart-style-4 .page-footer {
    background-color: #3a3f51 !important;
    color: #bbc0cf !important;;
}