* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

body.smart-style-1 {
    font-family: "Verdana", "Tahoma", "Lucida Grande", "Microsoft YaHei", "Hiragino Sans GB", sans-serif !important;
}

.router-container {
    margin-left: 10px;
}

.smart-style-1 #toolbar {
    padding-bottom: 5px;
}

.smart-style-1 nav ul li.active:not(.open) {
    background-color: #1b1e24;
}

#left-panel .login-info img {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.ui-dialog .ui-dialog-titlebar-close span {
    display: none;
}

.ui-dialog .ui-dialog-buttonpane {
    padding: 10px !important;
}

.ui-dialog .ui-dialog-content {
    padding-top: 1.5em !important;
    padding-right: 3em !important;
}

#menu-module > span.active {
    color: #fb3c4a;
}

#menu-module > span:hover {
    color: #fb3c4a;
}

#menu-module > span {
    float: left;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
    display: inline-block;
    font-weight: normal;
    height: auto !important;
    width: auto !important;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    font-size: 14px;
    margin: 10px 0 10px 0 !important;
    position: relative;

    background: #0d0f12;
    border: 1px solid rgba(55, 65, 74, 0.71);
    color: #fff;
    cursor: pointer;
    margin-right: 5px !important;
}

.bootstrap-table .pull-right .dropdown-menu {
    min-width: 220px !important;
}

div[id$='-toolbar'] {
    float: left !important;
}

.cursor-pointer {
    cursor: pointer !important;
}