<!DOCTYPE html  "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body th:fragment="addprivilegepage">

<div id="editprivilegepage">
    <form class="form-horizontal" @submit.prevent="handleEditSubmit" method="post">
        <fieldset>

            <!--id-->
            <div class="hidden">
                <label class="col-md-3 control-label">id</label>
                <div class="col-md-9">
                    <input class="form-control" placeholder="id" col-md-9 v-model="PrivilegePage.id">
                </div>
            </div>
            <!--资源id-->
            <div class="form-group" v-bind:class="{ 'has-error': error.resourceIdError }">
                <label class="col-md-3 control-label">资源ID</label>
                <div class="col-md-9">
                    <input class="form-control" placeholder="资源ID"
                           v-model="PrivilegePage.resourceId">
                    <a id="editid" href="javascript:void(0);" style="margin-top: 15px;display: block;">获取资源ID</a>

                    <div class="note-error margin-bottom-0"
                         v-bind:class="{ 'has-error text-danger margin-top-10': error.resourceIdError }">
                        {{error.resourceIdErrorMsg}}
                    </div>
                </div>
            </div>
            <!--资源模块id-->
            <div class="hidden">
                <label class="col-md-3 control-label">资源模块id</label>
                <div class="col-md-9">
                    <input id="pIdByTree" class="form-control" placeholder="资源模块id"
                           v-model="PrivilegePage.resourceModuleId"
                           readonly>
                </div>
            </div>
            <!--资源模块名称-->
            <div class="form-group">
                <label class="col-md-3 control-label">资源模块名称</label>
                <div class="col-md-9">
                    <input id="pNameByTree" class="form-control" placeholder="上级部门"
                           v-model="PrivilegePage.name"
                           readonly>
                    <a id="editGetPId" href="javascript:void(0);"
                       style="margin-top: 15px;display: block;">获取资源模块</a>
                    <div class="note-error margin-bottom-0"
                         v-bind:class="{ 'has-error text-danger margin-top-10': error.nameError }">
                        {{error.nameErrorMsg}}
                    </div>

                </div>
            </div>

            <div class="form-group" v-bind:class="{ 'has-error': error.orderError }">
                <label class="col-md-3 control-label">排序索引</label>
                <div class="col-md-9">
                    <input class="form-control" placeholder="排序索引"
                           v-model="PrivilegePage.orderIndex">
                    <div class="note-error margin-bottom-0"
                         v-bind:class="{ 'has-error text-danger margin-top-10': error.orderError }">
                        {{error.orderErrorMsg}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">是否可用</label>
                <div class="col-md-9">
                    <label class="radio radio-inline">
                        <input type="radio" v-model="PrivilegePage.enabled"
                               class="radiobox style-0"
                               v-bind:value="true" checked>
                        <span>是</span>
                    </label>
                    <label class="radio radio-inline">
                        <input type="radio" v-model="PrivilegePage.enabled"
                               class="radiobox style-0"
                               v-bind:value="false" checked>
                        <span>否</span>
                    </label>
                    <div class="note-error margin-bottom-0"
                         v-bind:class="{ 'has-error text-danger margin-top-10': error.enabledError }">
                        {{error.enabledErrorMsg}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">备注信息</label>
                <div class="col-md-9">
                    <input class="form-control" placeholder="备注信息（选填）" col-md-9 v-model="PrivilegePage.remark">
                </div>
            </div>


        </fieldset>
        <button id="edit" type="submit" class="hidden"></button>

    </form>
</div>

</body>
</html>