<!-- 树的展示-->
<div class="row">
    <!-- 树的展示-->
    <div class="col-md-3" style="margin-top: 10px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <input type="hidden" name="selectedModulePs">
                <select class="form-control" title="系统模块选择" id="select-modules-ps">
                </select>
            </div>
            <div class="panel-body" style="min-height: 300px;">
                <p><span class="pull-right" id="refreshResModuleTree" style="cursor: pointer;"><i
                        class="fa fa-undo"></i> </span></p>
                <ul id="privilegepageTree" class="ztree">
                    请选择系统模块
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div id="privilegePage-toolbar" class="form-inline">
            <button id="add-privilegepage" class="btn btn-info btn-sm"><i class="fa fa-plus-square-o"></i> 添加</button>
            <button id="edit-privilegepage" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i> 编辑</button>
            <div th:replace="fragment/control::search(privilegepage)"></div>
        </div>
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table id="privilegePage-table">
                <thead>
                <tr>
                    <th data-checkbox="true"></th>

                    <th data-field="id"
                        data-visible="false"
                        data-title="ID"
                        data-align="center"></th>

                    <th data-field="name"
                        data-title="页面权限名称"
                        data-filter-control="input"
                        data-filter-control-placeholder="输入名称"
                        data-align="center"></th>

                    <th data-field="resourceId"
                        data-sort-name="resource_id"
                        data-title="页面资源ID"
                        data-align="center"></th>

                    <th data-field="resourceName"
                        data-sort-name="tor.name"
                        data-sortable="true"
                        data-title="资源名称"
                        data-filter-control="input"
                        data-filter-control-placeholder="输入名称"
                        data-align="center"></th>

                    <th data-field="resourceModuleId"
                        data-visible="false"
                        data-title="资源模块ID"
                        data-align="center"></th>

                    <th data-field="resourceModuleName"
                        data-sort-name="resource_module_id"
                        data-title="资源模块名称"
                        data-align="center"></th>

                    <th data-field="enabled"
                        data-formatter="enabledFormatter"
                        data-title="是否使用"
                        data-filter-control="select"
                        data-filter-data="url:/oauth2/common/select"
                        data-align="center"></th>

                    <th data-field="remark"
                        data-title="备注信息"
                        data-align="center"></th>

                    <th data-field="orderIndex"
                        data-sort-name="order_index"
                        data-sortable="true"
                        data-title="排序索引"
                        data-width="20"
                        data-align="center"></th>
                </tr>
                </thead>
            </table>
        </article>
        <!-- WIDGET END -->
    </div>
</div>

<!-- end row -->
<div id="bigprivilegepage" class="hidden">

    <!--添加页面资源-->
    <div th:replace="router/privilege_page/add"></div>
    <!--编辑menu-->
    <div th:replace="router/privilege_page/edit"></div>

</div>
<script src="/static/oauth2/js/privilege_page.js"></script>