<link rel="stylesheet" type="text/css" media="screen"
      href="/static/js/plugin/bootstrap-ztree/css/metroStyle/metroStyle.css">
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body" style="min-height: 300px;">
                <ul id="privilegepage" class="ztree"></ul>
            </div>
        </div>
        <button id="confirm" style="width: 100%;height: 30px;"> 确认</button>
        <!--<button id="cancel" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i> 取消</button>-->
    </div>

</div>

<script src="/static/js/libs/jquery-2.1.1.min.js"></script>
<script src="/static/js/plugin/bootstrap-ztree/js/jquery.ztree.all.min.js"></script>
<script type="text/javascript">

    $(function () {
        var settings = {
            data: {
                simpleData: {
                    enable: true,
                    rootPId: 0
                }
            },
            async: {
                enable: true,
                url: "/oauth2/privilegePage/api/selectPrivilegePage",
                autoParam: ["id"],
            },
            view: {
                selectedMulti: false,
            },
            callback: {
                onDblClick: function (event, treeId, treeNode) {
                    console.log(treeNode)
                    if (treeNode.isParent) {
                        TF.show_error_message("错误选择提示", "请选择资源模块");
                    }
                    else {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.app.PrivilegePage.resourceModuleId = treeNode.id;
                        parent.app.PrivilegePage.name = treeNode.name;
                        parent.layer.close(index);
                    }
                }
            }
        };
        $.get("/oauth2/privilegePage/api/selectPrivilegePage", function (json) {
            $.fn.zTree.init($("#privilegepage"), settings, json.data)
        })
    })

</script>
