<link rel="stylesheet" type="text/css" href="/static/js/plugin/layui/v2/css/layui.css"/>
<div style="margin: 10px;">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-inline">
                <input class="layui-input" name="name" id="searchName" placeholder="资源名称"
                       style="height: 30px;line-height: 30px;">
            </div>
            <button class="layui-btn layui-btn-xsl" id="searchNameBtn">搜索</button>
            <table id="select-resource-table" lay-filter="selectResource"></table>
        </div>
    </div>
</div>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-primary  layui-btn-xs" lay-event="checkResource"><i class="layui-icon">&#xe618;</i>
    </a>
</script>
<script src="/static/js/plugin/layui/v2/layui.all.js"></script>
<script type="text/javascript">
    var $ = layui.$;
    var laytable = layui.table;
    $(function () {
        var tableIns = laytable.render({
            elem: "#select-resource-table",
            width: 820,
            height: 'full-70',
            url: '/oauth2/resource/api/selectResources',
            where: {
                systemModuleCode: parent.$.fn.zTree.getZTreeObj("privilegepageTree").getSelectedNodes()[0].other,
            },
            page: true,
            limit: 20,
            even: true,
            cols: [[
                {field: 'id', title: "ID", fixed: true, align: 'center', sort: true},
                {field: 'name', title: "资源名称", align: 'center', sort: true},
                {field: 'url', title: "资源url", align: 'center', sort: true},
                {fixed: 'right', title: "勾选操作", align: 'center', toolbar: '#bar'}
            ]]
        });

        $("#searchNameBtn").click(function () {
            tableIns.reload({
                where: {
                    systemModuleCode: parent.$.fn.zTree.getZTreeObj("privilegepageTree").getSelectedNodes()[0].other,
                    name: $("#searchName").val()
                }
            })
        })

        laytable.on('tool(selectResource)', function (obj) {
            var data = obj.data;
            if (obj.event === 'checkResource') {
                parent.app.PrivilegePage.resourceId = data.id;
                parent.app.privilegeOperation.resourceId = data.id;
                parent.app.PrivilegePage.name = data.name;
                parent.app.privilegeOperation.operationName = data.name;
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            }
        })

        laytable.on("sort(selectResource)", function (obj) {
            var sort = obj.field;
            var order = obj.type;
            tableIns.reload({
                where: {
                    systemModuleCode: parent.$.fn.zTree.getZTreeObj("privilegepageTree").getSelectedNodes()[0].other,
                    name: $("#searchName").val(),
                    sort: sort,
                    order: order !== null ? order : ""
                }
            })
        })
    });
</script>
