<!--list页面-->
<div class="row" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
     xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="col-md-4" style="margin-top: 5px;">
        <div class="panel panel-blueDark">
            <div class="panel-heading">
                <span><i class="fa fa-building"></i> 部门树</span>
                <span class="pull-right" style="cursor: pointer;" id="refreshDepartmentTree" title="重置部门勾选状态"><i
                        class="fa fa-refresh"></i> </span>
            </div>
            <div class="panel-body" style="min-height: 300px;">
                <ul id="DepartmentTree" class="ztree"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div id="department-toolbar" class="form-inline">
            <button id="add-department" class="btn btn-info btn-sm"><i class="fa fa-plus-square-o"></i> 添加</button>
            <button id="edit-department" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i> 编辑</button>
            &nbsp;
            <label id="department-search-control" class="checkbox-inline">
                <input type="checkbox" class="checkbox style-3">
                <span>显示搜索控件</span>
            </label>
        </div>
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table id="department-table">
                <thead>
                <tr>
                    <th data-checkbox="true"></th>

                    <th data-field="id"
                        data-visible="false"
                        data-width="150"
                        data-title="部门ID"
                        data-align="center"></th>

                    <th data-field="name"
                        data-sortable="true"
                        data-searchable="true"
                        data-search-formatter="false"
                        data-filter-control="input"
                        data-filter-control-placeholder="输入部门名称"
                        data-title="部门名称"
                        data-align="center"></th>

                    <th data-field="parentName"
                        data-sortable="true"
                        data-sort-name="parent_name"
                        data-title="上级部门"
                        data-formatter="parentNameFormatter"
                        data-align="center"></th>

                    <th data-field="parentId"
                        data-visible="false"
                        data-title="上级部门ID"
                        data-align="center"></th>

                    <th data-field="enabled"
                        data-formatter="enabledFormatter"
                        data-title="是否使用"
                        data-filter-control="select"
                        data-filter-data="url:/common/select"
                        data-align="center"></th>

                    <th data-field="orderIndex"
                        data-sort-name="order_index"
                        data-sortable="true"
                        data-title="排序索引"
                        data-width="20"
                        data-align="center"></th>

                    <th data-field="createName"
                        data-title="创建用户"
                        data-visible="false"
                        data-align="center"></th>

                    <th data-field="updateName"
                        data-title="更新用户"
                        data-visible="false"
                        data-align="center"></th>

                    <th data-field="createDate"
                        data-sort-name="create_date"
                        data-formatter="date_formatter"
                        data-title="创建日期"
                        data-visible="false"
                        data-align="center"></th>

                    <th data-field="updateDate"
                        data-sort-name="update_date"
                        data-formatter="date_formatter"
                        data-title="更新日期"
                        data-visible="false"
                        data-align="center"></th>

                    <th data-field="remark"
                        data-title="备注信息"
                        data-align="center"></th>
                </tr>
                </thead>
            </table>
        </article>
        <!-- WIDGET END -->
    </div>
</div>

<!--添加/编辑页面-->
<div id="bigDepartment" class="hidden">
    <!--添加menu-->
    <div id="addDepartment">
        <form class="form-horizontal" @submit.prevent="handleAddSubmit" method="post">
            <fieldset>
                <!--//部门名称-->
                <div class="form-group" v-bind:class="{ 'has-error': error.nameError }">
                    <label class="col-md-3 control-label">部门名称</label>
                    <div class="col-md-9">
                        <input class="form-control" placeholder="部门名称"
                               v-model="OauthDepartment.name">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.nameError }">
                            {{error.nameErrorMsg}}
                        </div>
                    </div>
                </div>

                <!--//上级部门-->
                <div class="form-group">
                    <label class="col-md-3 control-label">上级部门ID</label>
                    <div class="col-md-9">
                        <input class="form-control" placeholder="上级部门ID"
                               v-model="OauthDepartment.parentId"
                               readonly>
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.parentIdErrorMsg }">
                            {{error.parentIdErrorMsg}}
                        </div>
                    </div>
                </div>

                <!--//排序索引-->
                <div class="form-group" v-bind:class="{ 'has-error': error.orderError }">
                    <label class="col-md-3 control-label">排序索引</label>
                    <div class="col-md-9">
                        <input class="form-control" placeholder="排序索引"
                               v-model="OauthDepartment.orderIndex">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.orderError }">
                            {{error.orderErrorMsg}}
                        </div>
                    </div>
                </div>

                <!--//是否可用-->
                <div class="form-group" v-bind:class="{ 'has-error': error.enabledError }">
                    <label class="col-md-3 control-label">是否可用</label>
                    <div class="col-md-9">
                        <label class="radio radio-inline">
                            <input type="radio" v-model="OauthDepartment.enabled"
                                   class="radiobox style-0"
                                   v-bind:value="true" checked>
                            <span>是</span>
                        </label>
                        <label class="radio radio-inline">
                            <input type="radio" v-model="OauthDepartment.enabled"
                                   class="radiobox style-0"
                                   v-bind:value="false" checked>
                            <span>否</span>
                        </label>
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.enabledError }">
                            {{error.enabledErrorMsg}}
                        </div>
                    </div>
                </div>

                <!--//备注信息-->
                <div class="form-group">
                    <label class="col-md-3 control-label">备注信息</label>
                    <div class="col-md-9">
                        <input class="form-control" placeholder="备注信息（选填）" v-model="OauthDepartment.remark">
                    </div>
                </div>


            </fieldset>
            <button id="departmentAdd" type="submit" class="hidden"></button>

        </form>
    </div>
    <!--编辑menu-->
    <div id="editDepartment">
        <form class="form-horizontal" @submit.prevent="handleEditSubmit" method="post">
            <fieldset>
                <div class="form-group" v-bind:class="{ 'has-error': error.nameError }">
                    <label class="col-md-3 control-label">部门名称</label>
                    <div class="col-md-9">
                        <input class="form-control" placeholder="部门名称" type="text"
                               v-model="OauthDepartment.name">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.nameError }">
                            {{error.nameErrorMsg}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">上级部门ID</label>
                    <div class="col-md-9">
                        <input id="pIdByTree" class="form-control" placeholder="上级部门" type="text"
                               v-model="OauthDepartment.parentId"
                               readonly>
                        <a id="editGetPId" href="javascript:void(0);"
                           style="margin-top: 15px;display: block;">获取上级部门</a>
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.parentIdError }">
                            {{error.parentIdErrorMsg}}
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">上级部门名称</label>
                    <div class="col-md-9">
                        <input id="pNameByTree" class="form-control" placeholder="上级部门名称" type="text" readonly>
                    </div>
                </div>


                <div class="form-group" v-bind:class="{ 'has-error': error.orderError }">
                    <label class="col-md-3 control-label">排序索引</label>
                    <div class="col-md-9">
                        <input class="form-control" placeholder="排序索引" type="text"
                               v-model="OauthDepartment.orderIndex">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.orderError }">
                            {{error.orderErrorMsg}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">是否可用</label>
                    <div class="col-md-9">
                        <label class="radio radio-inline">
                            <input type="radio" v-model="OauthDepartment.enabled"
                                   class="radiobox style-0"
                                   v-bind:value="true" checked>
                            <span>是</span>
                        </label>
                        <label class="radio radio-inline">
                            <input type="radio" v-model="OauthDepartment.enabled"
                                   class="radiobox style-0"
                                   v-bind:value="false" checked>
                            <span>否</span>
                        </label>
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.enabledError }">
                            {{error.enabledErrorMsg}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">备注信息</label>
                    <div class="col-md-9">
                        <input class="form-control" placeholder="备注信息（选填）" type="text" v-model="OauthDepartment.remark">
                    </div>
                </div>


            </fieldset>
            <button id="departmentEdit" type="submit" class="hidden"></button>

        </form>
    </div>

</div>


<script src="/static/oauth2/js/department.js"></script>