<!--suppress HtmlUnknownAttribute -->
<div class="row">

    <div id="system-module-toolbar" class="form-inline" mutilpicker="false">
        <div th:replace="fragment/control::operation(system-module,true)"></div>
    </div>
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table id="system-module-table">
            <thead>
            <tr>
                <th data-checkbox="true"></th>

                <th data-field="id"
                    data-title="id"
                    data-sortable="true"
                    data-visible="false"
                    data-searchable="true"
                    data-width="200"
                    data-align="center"></th>

                <th data-field="name"
                    data-sortable="true"
                    data-title="名称"
                    data-filter-control="input"
                    data-filter-control-placeholder="输入名称"
                    data-align="center"></th>

                <th data-field="systemCode"
                    data-title="系统编码"
                    data-filter-control="input"
                    data-filter-control-placeholder="输入系统编码"
                    data-align="center"></th>

                <th data-field="enabled"
                    data-formatter="enabledFormatter"
                    data-title="是否可用"
                    data-searchable="true"
                    data-filter-data="url:/oauth2/common/select"
                    data-filter-control="select"
                    data-align="center"></th>

                <th data-field="remark"
                    data-title="备注"
                    data-align="center"></th>

                <th data-field="createDate"
                    data-sortable="true"
                    data-sort-name="create_date"
                    data-formatter="date_formatter"
                    data-visible="false"
                    data-title="创建日期"
                    data-align="center"></th>

                <th data-field="createUserName"
                    data-title="创建用户"
                    data-align="center"
                    data-visible="false"></th>

                <th data-field="updateDate"
                    data-sort-name="update_date"
                    data-formatter="date_formatter"
                    data-sortable="true"
                    data-title="更新日期"
                    data-visible="false"
                    data-align="center"></th>

                <th data-field="updateUserName"
                    data-visible="false"
                    data-title="更新用户"
                    data-align="center"></th>

                <th data-field="orderIndex"
                    data-sortable="true"
                    data-sort-name="order_index"
                    data-title="排序"
                    data-align="center"></th>
            </tr>
            </thead>
        </table>
    </article>
</div>

<!-- 弹出页面 -->
<div id="add_edit" class="hidden">
    <!-- 添加页面 -->
    <div th:replace="router/system_module/add::addSystemModule"></div>

    <!-- 编辑页面 -->
    <div th:replace="router/system_module/edit::editSystemModule"></div>
</div>

<!--js-->
<script src="/static/oauth2/js/system_module.js"></script>


