<!--list页面-->
<div class="row">
        <div id="toolbar" class="form-inline">
            <button id="add-resource" class="btn btn-info btn-sm"><i class="fa fa-plus-square-o"></i> 添加</button>
            <button id="edit-resource" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i> 编辑</button>
            <button id="delete-resource" class="btn btn-danger btn-sm"><i class="fa fa-minus-square-o"></i> 删除</button>

            <select class="form-control" data-width="100" id="enabledSelector" onchange="searchResource()">
                <option value="">所有</option>
                <option value="1">可用</option>
                <option value="0">不可用</option>
            </select>
        </div>
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table id="table">
                <thead>
                <tr>
                    <th data-checkbox="true"></th>

                    <th data-field="id"
                        data-sortable="true"
                        data-visible="false"
                        data-searchable="true"
                        data-width="150"
                        data-title="资源ID"
                        data-align="center"></th>

                    <th data-field="url"
                        data-title="资源路径"
                        data-align="center"
                        data-filter-control="input"
                        data-filter-control-placeholder="输入资源路径"></th>

                    <th data-field="name"
                        data-sortable="true"
                        data-title="资源名称"
                        data-filter-control="input"
                        data-filter-control-placeholder="输入资源名称"
                        data-sort-name="name"
                        data-align="center"></th>

                    <th data-field="permissionMark"
                        data-sortable="true"
                        data-title="资源标识"
                        data-filter-control="input"
                        data-filter-control-placeholder="输入资源标识"
                        data-sort-name="permission_mark"
                        data-align="center"></th>

                    <th data-field="systemCode"
                        data-sortable="true"
                        data-title="系统代码"
                        data-filter-control="input"
                        data-filter-control-placeholder="输入系统代码"
                        data-sort-name="system_code"
                        data-align="center"></th>

                    <th data-field="orderIndex"
                        data-sortable="true"
                        data-title="排序索引" data-width="20"
                        data-sort-name="order_index"
                        data-align="center"></th>

                    <th data-field="enabled"
                        data-formatter="enabledFormatter"
                        data-title="是否使用"
                        data-align="center"></th>

                    <th data-field="createName"
                        data-title="创建用户"
                        data-visible="false"
                        data-align="center"></th>

                    <th data-field="updateName"
                        data-title="更新用户"
                        data-visible="false"
                        data-align="center"></th>

                    <th data-field="createDate"
                        data-sort-name="create_date"
                        data-formatter="date_formatter"
                        data-title="创建日期"
                        data-visible="false"
                        data-align="center"></th>

                    <th data-field="updateDate"
                        data-sort-name="update_date"
                        data-formatter="date_formatter"
                        data-title="更新日期"
                        data-visible="false"
                        data-align="center"></th>

                    <th data-field="remark"
                        data-title="备注信息"
                        data-align="center"></th>
                </tr>
                </thead>
            </table>
        </article>
        <!-- WIDGET END -->
</div>

<!--添加/编辑页面-->
<div id="bigResource" class="hidden">
    <!--添加页面-->
    <div id="addResource">
        <form class="form-horizontal" @submit.prevent="handleAddSubmit" method="post">
            <fieldset>
                <!--资源url-->
                <div class="form-group" v-bind:class="{ 'has-error': error.urlError }">
                    <label class="col-md-2 control-label">资源url</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="资源url" type="text"
                               v-model="Resource.url">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.urlError }">
                            {{error.urlErrorMsg}}
                        </div>
                    </div>
                </div>

                <!--资源名称-->
                <div class="form-group" v-bind:class="{ 'has-error': error.nameError }">
                    <label class="col-md-2 control-label">资源名称</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="资源名称" type="text"
                               v-model="Resource.name">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.nameError }">
                            {{error.nameErrorMsg}}
                        </div>
                    </div>
                </div>

                <!--资源标识-->
                <div class="form-group" v-bind:class="{ 'has-error': error.permissionMarkError }">
                    <label class="col-md-2 control-label">资源标识</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="资源标识" type="text"
                               v-model="Resource.permissionMark">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.permissionMarkError }">
                            {{error.permissionMarkErrorMsg}}
                        </div>
                    </div>
                </div>

                <!--系统代码-->
                <div class="form-group" v-bind:class="{ 'has-error': error.systemCodeError }">
                    <label class="col-md-2 control-label">系统代码</label>
                    <div class="col-md-10">
                        <select v-model="Resource.systemCode.selected" class="form-control"
                                id="systemCode-selector-add"
                        >
                        </select>
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.systemCodeError }">
                            {{error.systemCodeErrorMsg}}
                        </div>
                    </div>
                </div>

                <!--是否可用-->
                <div class="form-group" v-bind:class="{ 'has-error': error.enabledError }">
                    <label class="col-md-2 control-label">是否可用</label>
                    <div class="col-md-10">
                        <label class="radio radio-inline">
                            <input type="radio" v-model="Resource.enabled"
                                   class="radiobox style-0"
                                   v-bind:value="true" checked>
                            <span>是</span>
                        </label>
                        <label class="radio radio-inline">
                            <input type="radio" v-model="Resource.enabled"
                                   class="radiobox style-0"
                                   v-bind:value="false" checked>
                            <span>否</span>
                        </label>
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.enabledError }">
                            {{error.enabledErrorMsg}}
                        </div>
                    </div>
                </div>

                <!--排序索引-->
                <div class="form-group" v-bind:class="{ 'has-error': error.orderError }">
                    <label class="col-md-2 control-label">排序索引</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="排序索引" type="text"
                               v-model="Resource.orderIndex">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.orderError }">
                            {{error.orderErrorMsg}}
                        </div>
                    </div>
                </div>

                <!--备注信息-->
                <div class="form-group">
                    <label class="col-md-2 control-label">备注信息</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="备注信息（选填）" type="text" v-model="Resource.remark">
                    </div>
                </div>

            </fieldset>

            <button id="add" type="submit" class="hidden"></button>

        </form>
    </div>
    <!--编辑页面-->
    <div id="editResource">
        <form class="form-horizontal" @submit.prevent="handleEditSubmit" method="post">
            <fieldset>
                <!--资源url-->
                <div class="form-group" v-bind:class="{ 'has-error': error.urlError }">
                    <label class="col-md-2 control-label">资源url</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="资源url" type="text"
                               v-model="Resource.url">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.urlError }">
                            {{error.urlErrorMsg}}
                        </div>
                    </div>
                </div>

                <!--资源名称-->
                <div class="form-group" v-bind:class="{ 'has-error': error.nameError }">
                    <label class="col-md-2 control-label">资源名称</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="资源名称" type="text"
                               v-model="Resource.name">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.nameError }">
                            {{error.nameErrorMsg}}
                        </div>
                    </div>
                </div>

                <!--资源标识-->
                <div class="form-group" v-bind:class="{ 'has-error': error.permissionMarkError }">
                    <label class="col-md-2 control-label">资源标识</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="资源标识" type="text"
                               v-model="Resource.permissionMark">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.permissionMarkError }">
                            {{error.permissionMarkErrorMsg}}
                        </div>
                    </div>
                </div>

                <!--系统代码-->
                <div class="form-group" v-bind:class="{ 'has-error': error.systemCodeError }">
                    <label class="col-md-2 control-label">系统代码</label>
                    <div class="col-md-10">
                        <select v-model="Resource.systemCode.selected" class="form-control"
                                id="systemCode-selector-edit">
                        </select>
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.systemCodeError }">
                            {{error.systemCodeErrorMsg}}
                        </div>
                    </div>
                </div>

                <!--是否可用-->
                <div class="form-group" v-bind:class="{ 'has-error': error.enabledError }">
                    <label class="col-md-2 control-label">是否可用</label>
                    <div class="col-md-10">
                        <label class="radio radio-inline">
                            <input type="radio" v-model="Resource.enabled"
                                   class="radiobox style-0"
                                   v-bind:value="true" checked>
                            <span>是</span>
                        </label>
                        <label class="radio radio-inline">
                            <input type="radio" v-model="Resource.enabled"
                                   class="radiobox style-0"
                                   v-bind:value="false" checked>
                            <span>否</span>
                        </label>
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.enabledError }">
                            {{error.enabledErrorMsg}}
                        </div>
                    </div>
                </div>

                <!--排序索引-->
                <div class="form-group" v-bind:class="{ 'has-error': error.orderError }">
                    <label class="col-md-2 control-label">排序索引</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="排序索引" type="text"
                               v-model="Resource.orderIndex">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.orderError }">
                            {{error.orderErrorMsg}}
                        </div>
                    </div>
                </div>

                <!--备注信息-->
                <div class="form-group">
                    <label class="col-md-2 control-label">备注信息</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="备注信息（选填）" type="text" v-model="Resource.remark">
                    </div>
                </div>

            </fieldset>
            <button id="edit" type="submit" class="hidden"></button>
        </form>
    </div>
</div>

<script type="text/javascript">
    pageSetUp();
    var page_function = function () {
        var $table = $("#table");
        var query_params = function (params) {
            var temp = {
                limit: params.limit,
                offset: params.offset,
                order: params.order,
                sort: params.sort,
                url: $("input.bootstrap-table-filter-control-url").val(),
                permissionMark: $("input.bootstrap-table-filter-control-permissionMark").val(),
                systemCode: $("input.bootstrap-table-filter-control-systemCode").val(),
                name: $("input.bootstrap-table-filter-control-name").val(),
                enabled: $("#enabledSelector option:selected").val()
            }
            return temp;
        };

        $table.bootstrapTable({
            sidePagination: "server",
            url: "/resource/api/list",
            toolbar: '#toolbar',
            showRefresh: true,
            method: 'post',
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",//post方式一定得改成这种contentType
            queryParams: query_params,
            height: getHeight(),
            sortName: 'id',//第一次进页面默认的排序字段
            sortOrder: 'asc',
            idField: "id",
            uniqueId: 'id',
            checkboxHeader: true,
            clickToSelect: true,
            showColumns: true,
            silentSort: false,
            maintainSelected: true,
            striped: true,
            cache: false,
            pagination: true,
            paginationLoop: false,
            pageList: '[5,10,25,50,100]',
            escape: true,
            filterControl: true,
            filterShowClear: true,
            searchTimeOut: 1000
        });

        var app = new Vue({
            el: "#bigResource",
            data: {
                error: {
                    urlError: false,
                    urlErrorMsg: '',
                    nameError: false,
                    nameErrorMsg: '',
                    permissionMarkError: false,
                    permissionMarkErrorMsg: '',
                    systemCodeError: '',
                    systemCodeErrorMsg: '',
                    enabledError: false,
                    enabledErrorMsg: '',
                    orderError: false,
                    orderkErrorMsg: '',
                },
                Resource: {
                    url: '',
                    name: '',
                    permissionMark: '',
                    enabled: true,
                    orderIndex: '0',
                    remark: '',
                    systemCode: {
                        selected: '',
                        options: []
                    }
                }
            },
            methods: {
                //添加界面提交操作
                handleAddSubmit: function () {
                    this.$vuerify.clear()//清空之前的验证结果信息
                    var check_result = this.$vuerify.check()// 手动触发校验所有数据
                    var $errs = this.$vuerify.$errors

                    app.error.urlError = Boolean($errs.url)
                    app.error.nameError = Boolean($errs.name)
                    app.error.permissionMarkError = Boolean($errs.permissionMark)
                    app.error.systemCodeError = Boolean($errs.systemCode)
                    app.error.enabledError = Boolean($errs.enabled)
                    app.error.orderError = Boolean($errs.orderIndex)
                    app.error.urlErrorMsg = $errs.url
                    app.error.nameErrorMsg = $errs.name
                    app.error.permissionMarkErrorMsg = $errs.permissionMark
                    app.error.systemCodeErrorMsg = $errs.systemCode
                    app.error.enabledErrorMsg = $errs.enabled
                    app.error.orderErrorMsg = $errs.orderIndex

                    if (!check_result) {
                        TF.show_error_message("错误消息提示", "请修正表单错误信息之后再提交", 3000)
                    } else {
                        var params = new URLSearchParams();
                        var resources = app.Resource
                        for (var data in resources) {
                            if (data === "systemCode")
                                continue;
                            params.append(data, resources[data])
                        }
                        params.append("systemCode", app.Resource.systemCode.selected)
                        axios.post('/resource/api/add', params)
                            .then(function (response) {
                                if (response.data.code == TF.STATUS_CODE.SUCCESS) {
                                    layer.msg(response.data.message);
                                    setTimeout(function () {
                                        app.Resource.id = " ";
                                        app.Resource.name = " ";
                                        app.Resource.url = " ";
                                        app.Resource.permissionMark = " ";
                                        app.Resource.orderIndex = " ";
                                        app.Resource.remark = " ";
                                        $("#addResource").dialog("close");
                                        $table.bootstrapTable("refresh");
                                    }, 1000)
                                } else {
                                    TF.show_error_msg(response.data.message)
                                }
                            })
                            .catch(function (error) {
                                TF.show_error_msg(error.response.data.message)
                            });
                    }

                },

                //编辑界面提交操作
                handleEditSubmit: function () {
                    this.$vuerify.clear()//清空之前的验证结果信息
                    var check_result = this.$vuerify.check()// 手动触发校验所有数据
                    var $errs = this.$vuerify.$errors

                    app.error.urlError = Boolean($errs.url)
                    app.error.permissionMarkError = Boolean($errs.permissionMark)
                    app.error.enabledError = Boolean($errs.enabled)
                    app.error.orderError = Boolean($errs.orderIndex)
                    app.error.urlErrorMsg = $errs.url
                    app.error.permissionMarkErrorMsg = $errs.permissionMark
                    app.error.enabledErrorMsg = $errs.enabled
                    app.error.orderErrorMsg = $errs.orderIndex

                    if (!check_result) {
                        TF.show_error_message("错误消息提示", "请修正表单错误信息之后再提交", 3000)
                    } else {
                        var params = new URLSearchParams();
                        var resources = app.Resource
                        params.append("id", app.Resource.id)
                        params.append("name", app.Resource.name)
                        params.append("url", app.Resource.url)
                        params.append("permissionMark", app.Resource.permissionMark)
                        params.append("systemCode", app.Resource.systemCode.selected)
                        params.append("enabled", app.Resource.enabled)
                        params.append("orderIndex", app.Resource.orderIndex)
                        params.append("remark", app.Resource.remark)
                        axios.post('/resource/api/edit', params)
                            .then(function (response) {
                                if (response.data.code == TF.STATUS_CODE.SUCCESS) {
                                    layer.msg(response.data.message);
                                    setTimeout(function () {
                                        app.Resource.id = " ";
                                        app.Resource.name = " ";
                                        app.Resource.url = " ";
                                        app.Resource.permissionMark = " ";
                                        app.Resource.orderIndex = " ";
                                        app.Resource.remark = " ";
                                        $("#editResource").dialog("close");
                                        $table.bootstrapTable("refresh");
                                    }, 1000)
                                } else {
                                    TF.show_error_msg(response.data.message)
                                }
                            })
                            .catch(function (error) {
                                TF.show_error_msg(error.response.data.message)
                            });
                    }
                }

            },
            computed: {
                errors: function () {
                    return this.$vuerify.$errors // 错误信息会在 $vuerify.$errors 内体现
                }
            },

            vuerify: {
                url: {
                    test: function () {
                        return String(app.Resource.url).length > 0
                            && app.Resource.url.startsWith("/")
                            && !TF.isChinese(app.Resource.url)
                    },
                    message: '资源路径不能为空且必须以/开头且不含中文'
                },
                name: {
                    test: function () {
                        return String(app.Resource.name).length > 0
                    },
                    message: '资源名称不能为空'
                },
                permissionMark: {
                    test: function () {
                        return String(app.Resource.permissionMark).length > 0
                    },
                    message: '权限标识不能为空'
                },
                orderIndex: {
                    test: function () {
                        return !isNaN(app.Resource.orderIndex)
                    },
                    message: '排序索引不能为空且只为数字'
                },
            }

        });

        $(window).resize(function () {
            $table.bootstrapTable('resetView', {
                height: getHeight()
            });
        })


        //监听新增按钮事件
        $("#add-resource").click(function () {
            $("#addResource").dialog("open");
            return false;
        });

        //监听编辑按钮事件
        $("#edit-resource").click(function () {
            var editResources = $table.bootstrapTable('getSelections');
            if (editResources.length != 1) {
                TF.show_error_message("错误选择提示", "请选择一份资源以供编辑信息")
            } else {
                app.Resource.id = editResources[0].id;
                app.Resource.name = editResources[0].name;
                app.Resource.url = editResources[0].url;
                app.Resource.permissionMark = editResources[0].permissionMark;
                app.Resource.enabled = editResources[0].enabled;
                app.Resource.orderIndex = editResources[0].orderIndex;
                app.Resource.remark = editResources[0].remark;
                app.Resource.systemCode.selected = editResources[0].systemCode;
                $("#editResource").dialog("open");

            }
        })

        //监听删除按钮事件
        $("#delete-resource").click(function () {
            var deleteResources = $table.bootstrapTable('getSelections');
            if (deleteResources.length == 0) {
                TF.show_error_message("错误选择提示", "请选择资源以供删除")
            } else {
                $.SmartMessageBox({
                    title: "<i class='fa fa-minus-square-o' style='color:red'></i> 删除资源信息？",
                    content: "是否删除当前所选资源信息？",
                    buttons: '[取消][确认]'
                }, function (ButtonPressed) {
                    if (ButtonPressed == "取消") {
                        window.location.hash = "/resource"
                    } else if (ButtonPressed == "确认") {
                        var deleteIds = "";
                        for (var idRow in deleteResources) {
                            deleteIds += deleteResources[idRow].id + ",";
                        }
                        deleteIds = deleteIds.substr(0, deleteIds.length - 1);
                        axios.post('/resource/api/delete?ids=' + deleteIds)
                            .then(function (response) {
                                if (response.data.code == TF.STATUS_CODE.SUCCESS) {
                                    layer.msg(response.data.message);
                                    setTimeout(function () {
                                        $table.bootstrapTable("refresh");
                                    }, 1000)
                                } else {
                                    TF.show_error_msg(response.data.message)
                                }
                            })
                            .catch(function (error) {
                                TF.show_error_msg(error.response.data.message)
                            });
                    }
                })
            }
        })

        //添加界面弹出
        $("#addResource").dialog({
            title: "<div class='widget-header'><h4><i class='icon-ok'></i> 添加新资源</h4></div>",
            autoOpen: false,
            width: 600,
            resizable: false,
            modal: true,
            buttons: [{
                html: "<i class='fa fa-plus-square-o'></i>&nbsp;确认",
                "class": "btn btn-primary",
                click: function () {
                    $("#add").trigger("click");

                }
            }, {
                html: "<i class='fa fa-times'></i>&nbsp;取消",
                "class": "btn btn-default",
                click: function () {
                    $(this).dialog("close");
                }
            }]
        })

        //编辑界面弹出
        $("#editResource").dialog({
            title: "<div class='widget-header'><h4><i class='icon-ok'></i> 编辑资源</h4></div>",
            autoOpen: false,
            width: 600,
            resizable: false,
            modal: true,
            buttons: [{
                html: "<i class='fa fa-life-saver'></i>&nbsp;确认",
                "class": "btn btn-primary",
                click: function () {
                    $("#edit").trigger("click");

                }
            }, {
                html: "<i class='fa fa-step-backward'></i>&nbsp;取消",
                "class": "btn btn-default",
                click: function () {
                    app.Resource.id = " ";
                    app.Resource.name = " ";
                    app.Resource.url = " ";
                    app.Resource.permissionMark = " ";
                    app.Resource.orderIndex = " ";
                    app.Resource.remark = " ";
                    $(this).dialog("close");
                }
            }]
        })


        //请求系统代码下拉框数据
        axios.post('/oauth2/system-module/api/find/modules/enabled', {})
            .then(function (response) {
                if (response.data.length > 0) {
                    app.Resource.systemCode = response.data;
                    var $selectSystemCode = response.data;
                    app.Resource.systemCode.selected = $selectSystemCode[0].systemCode;//默认给下拉菜单选中第一个
                    for (var i = 0; i < $selectSystemCode.length; i++) {
                        $('#systemCode-selector-add,#systemCode-selector-edit').append("<option value=" + $selectSystemCode[i].systemCode + ">" + $selectSystemCode[i].systemCode + "</option>");
                    }
                }
            })
            .catch(function (error) {
                TF.show_error_msg(error.response.data.message)
            });
    }


    function searchResource() {
        var opt = {
            url: "/resource/api/list",
            silent: true,
            query: {
                url: $("input.bootstrap-table-filter-control-url").val(),
                permissionMark: $("input.bootstrap-table-filter-control-permissionMark").val(),
                systemCode: $("input.bootstrap-table-filter-control-systemCode").val(),
                name: $("input.bootstrap-table-filter-control-name").val(),
                enabled: $("#enabledSelector option:selected").val()
            }
        }
        $("#table").bootstrapTable('refresh', opt);
    }

    function getHeight() {
        return $(window).height() - $('header').outerHeight(true)
            - $('div.page-footer').outerHeight(true)
            - $('#ribbon').outerHeight(true)
            - 25
    }


    /**
     * 格式化是否可用一列显示方式
     * @param val
     */
    function enabledFormatter(val) {
        return val ? "<label class='label label-success'>可用</label>" : "<label class='label label-danger'>不可用</label>";
    }

    /**
     * 格式化日期显示方式
     * @param date
     */
    function date_formatter(date) {
        return date.year + "-" + date.monthValue + "-" + date.dayOfMonth + " " + date.hour + ":" + date.minute + ":" + date.second;
    }

    loadScript("/static/js/libs/vue/vuerify.min.js", function () {
        loadScript("/static/js/libs/vue/axios.min.js", function () {
            loadScript("/static/js/libs/vue/url-search-params.min.js", page_function()
            )
        })
    })
</script>