<div id="res_module_dialog" class="hidden" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <!--添加弹出的窗口-->
    <div id="add_res_module_dialog">
        <form class="form-horizontal" @submit.prevent="handleSubmit_add" method="post">
            <fieldset>
                <!--名称-->
                <div class="form-group" v-bind:class="{ 'has-error': error.nameError }">
                    <label class="col-md-2 control-label">名称</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" v-model="resModule.name">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.nameError }">
                            {{error.nameErrorMsg}}
                        </div>
                    </div>
                </div>
                <!--是否可用-->
                <div class="form-group" v-bind:class="{ 'has-error': error.enabledError }">
                    <label class="col-md-2 control-label">是否可用</label>
                    <div class="col-md-10">
                        <label class="radio radio-inline">
                            <input type="radio" v-model="resModule.enabled"
                                   class="radiobox style-0"
                                   v-bind:value="true" checked>
                            <span>是</span>
                        </label>
                        <label class="radio radio-inline">
                            <input type="radio" v-model="resModule.enabled"
                                   class="radiobox style-0"
                                   v-bind:value="false" checked>
                            <span>否</span>
                        </label>
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.enabledError }">
                            {{error.enabledErrorMsg}}
                        </div>
                    </div>
                </div>
                <!--系统编码-->
                <div class="form-group">
                    <label class="col-md-2 control-label">系统编码</label>
                    <div class="col-md-10">
                        <select id="resource-module-selector-add" @change="selectSystemCode($event)"
                                class="form-control">
                        </select>
                    </div>
                </div>
                <!--排序-->
                <div class="form-group" v-bind:class="{ 'has-error': error.orderIndexError }">
                    <label class="col-md-2 control-label">排序</label>
                    <div class="col-md-10">
                        <input class="form-control" type="number" v-model="resModule.orderIndex">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.orderIndexError }">
                            {{error.orderIndexErrorMsg}}
                        </div>
                    </div>
                </div>
                <!--备注-->
                <div class="form-group">
                    <label class="col-md-2 control-label">备注</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="备注信息（选填）" type="text"
                               v-model="resModule.remark">
                    </div>
                </div>
            </fieldset>
            <button id="resModuleAdd" type="submit" class="hidden"></button>
        </form>
    </div>
    <!--编辑弹出的窗口-->
    <div id="edit_res_module_dialog">
        <form id="edit-res-module-form" class="form-horizontal" @submit.prevent="handleSubmit_edit"
              method="post">
            <fieldset>
                <!--名称-->
                <div class="form-group" v-bind:class="{ 'has-error': error.nameError }">
                    <label class="col-md-2 control-label">名称</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text"
                               v-model="resModule.name">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.nameError }">
                            {{error.nameErrorMsg}}
                        </div>
                    </div>
                </div>
                <!--是否可用-->
                <div class="form-group" v-bind:class="{ 'has-error': error.enabledError }">
                    <label class="col-md-2 control-label">是否可用</label>
                    <div class="col-md-10">
                        <label class="radio radio-inline">
                            <input type="radio" v-model="resModule.enabled"
                                   class="radiobox style-0"
                                   v-bind:value="true" checked>
                            <span>是</span>
                        </label>
                        <label class="radio radio-inline">
                            <input type="radio" v-model="resModule.enabled"
                                   class="radiobox style-0"
                                   v-bind:value="false" checked>
                            <span>否</span>
                        </label>
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.enabledError }">
                            {{error.enabledErrorMsg}}
                        </div>
                    </div>
                </div>
                <!--系统编码-->
                <div class="form-group">
                    <label class="col-md-2 control-label">系统编码</label>
                    <div class="col-md-10">
                        <input class="form-control" v-model="resModule.systemCode.selected" readonly
                               id="resource-module-selector-edit" title="系统编码"/>
                    </div>
                </div>
                <!--排序-->
                <div class="form-group" v-bind:class="{ 'has-error': error.orderIndexError }">
                    <label class="col-md-2 control-label">排序</label>
                    <div class="col-md-10">
                        <input class="form-control" type="number"
                               v-model="resModule.orderIndex">
                        <div class="note-error margin-bottom-0"
                             v-bind:class="{ 'has-error text-danger margin-top-10': error.orderIndexError }">
                            {{error.orderIndexErrorMsg}}
                        </div>
                    </div>
                </div>
                <!--备注-->
                <div class="form-group">
                    <label class="col-md-2 control-label">备注</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="备注信息（选填）"
                               v-model="resModule.remark">
                    </div>
                </div>

            </fieldset>

            <button id="resModuleEdit" type="submit" class="hidden"></button>
        </form>
    </div>
</div>
<!-- row -->
<div class="row">
    <div id="resModule-toolbar" class="form-inline">
        <a href="javascript:void(0);" id="add_dialog_link" class="btn btn-info btn-sm"> <i
                class="fa fa-plus-square-o"></i> 添加
        </a>
        <a href="javascript:void(0);" id="edit_dialog_link" class="btn btn-warning btn-sm"><i
                class="fa fa-pencil-square "></i>
            编辑</a>
        &nbsp;
        <label id="resModule-search-control" class="checkbox-inline">
            <input type="checkbox" class="checkbox style-3">
            <span>显示搜索控件</span>
        </label>
    </div>
    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table id="resModule-table">
            <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th data-field="id"
                    data-sortable="true"
                    data-width="30"
                    data-title="ID"
                    data-align="center"
                    data-visible="false"></th>

                <th data-field="name"
                    data-sortable="true"
                    data-title="名称"
                    data-filter-control="input"
                    data-filter-control-placeholder="输入名称"
                    data-align="center"></th>

                <th data-field="systemModuleName"
                    data-sort-name="torm.system_code"
                    data-sortable="true"
                    data-filter-control="select"
                    data-filter-data="url:/oauth2/systemModule/select"
                    data-title="系统代码"
                    data-align="center"></th>

                <th data-field="enabled"
                    data-title="是否可用"
                    data-formatter="enabledFormatter"
                    data-filter-control="select"
                    data-filter-data="url:/oauth2/common/select"
                    data-align="center"></th>

                <th data-field="updateDate"
                    data-sort-name="update_date"
                    data-sortable="true"
                    data-title="修改时间"
                    data-visible="false"
                    data-formatter="date_formatter"
                    data-align="center"></th>


                <th data-field="createDate"
                    data-sort-name="create_date"
                    data-sortable="true"
                    data-formatter="date_formatter"
                    data-title="创建日期"
                    data-visible="false"
                    data-align="center"></th>

                <th data-field="updateUserName"
                    data-title="修改人"
                    data-visible="false"
                    data-align="center"></th>

                <th data-field="createUserName"
                    data-title="创建人"
                    data-visible="false"
                    data-align="center"></th>

                <th data-field="orderIndex"
                    data-sort-name="ORDER_INDEX"
                    data-sortable="true"
                    data-title="排序"
                    data-visible="false"
                    data-align="center"></th>

                <th data-field="remark"
                    data-sortable="true"
                    data-title="备注"
                    data-align="center"></th>
            </tr>
            </thead>
        </table>
    </article>
    <!-- WIDGET END -->

</div>

<!-- end row -->
<script src="/static/oauth2/js/res_module.js"></script>
