<div id="res-module">
    <div class="row">
        <toolbar name="resModule" :show-delete="showDel" :functions="functions"></toolbar>
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <bootstrap-table name="resModule" :options="tableOptions"></bootstrap-table>
        </section>
    </div>

    <section id="add_res_module_dialog">
        <form class="form-horizontal" @submit.prevent="handleSubmit_add" method="post">
            <form-input label="名称" placeholder="资源模块名称" v-model="model.name" :message="errors.name"></form-input>

            <form-select label="所属系统模块" :message="errors.systemCode">
                <select id="resource-module-selector-add" class="form-control"
                        v-model="model.systemCode.selected"></select>
            </form-select>

            <form-radio label="是否可用">
                <input type="radio" slot="check" v-model="model.enabled" class="radiobox style-0" v-bind:value="true">
                <input type="radio" slot="nocheck" v-model="model.enabled" class="radiobox style-0"
                       v-bind:value="false">
            </form-radio>

            <form-input label="排序" placeholder="输入排序的顺序编码" v-model="model.orderIndex"
                        :message="errors.orderIndex"></form-input>

            <form-input label="备注" placeholder="备注信息（选填）" v-model="model.remark"></form-input>
            <button id="resModuleAdd" type="submit" class="hidden"></button>
        </form>
    </section>

    <section id="edit_res_module_dialog">
        <form class="form-horizontal" @submit.prevent="handleSubmit_edit" method="post">
            <form-input label="名称" placeholder="资源模块名称" v-model="model.name" :message="errors.name"></form-input>

            <form-input label="系统模块" placeholder="所属系统模块" v-model="model.systemCode.selected"
                        :message="errors.systemCode"
                        readonly="true"></form-input>

            <form-radio label="是否可用">
                <input type="radio" slot="check" v-model="model.enabled" class="radiobox style-0" v-bind:value="true">
                <input type="radio" slot="nocheck" v-model="model.enabled" class="radiobox style-0"
                       v-bind:value="false">
            </form-radio>

            <form-input label="排序" placeholder="输入排序的顺序编码" v-model="model.orderIndex"
                        :message="errors.orderIndex"></form-input>

            <form-input label="备注" placeholder="备注信息（选填）" v-model="model.remark"></form-input>
            <button id="resModuleEdit" type="submit" class="hidden"></button>
        </form>
    </section>
</div>

<script src="/static/js/oauth2/res_module.js"></script>
