<!--suppress HtmlUnknownAttribute -->
<div id="res_module_dialog" class="hidden">
    <!--添加弹出的窗口-->
    <div th:replace="router/res_module/add::addResModule"></div>
    <!--编辑弹出的窗口-->
    <div th:replace="router/res_module/edit::editResModule"></div>
</div>
<!-- row -->
<div class="row">
    <div id="resModule-toolbar" class="form-inline">
        <div th:replace="fragment/control::operation(resModule,true)"></div>
    </div>
    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table id="resModule-table">
            <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th data-field="id"
                    data-sortable="true"
                    data-width="30"
                    data-title="ID"
                    data-align="center"
                    data-visible="false"></th>

                <th data-field="name"
                    data-sortable="true"
                    data-title="资源模块名称"
                    data-filter-control="input"
                    data-filter-control-placeholder="输入名称"
                    data-align="center"></th>

                <th data-field="systemModuleName"
                    data-sort-name="system_code"
                    data-sortable="true"
                    data-filter-control="select"
                    data-filter-data="url:/oauth2/systemModule/select"
                    data-title="系统代码"
                    data-align="center"></th>

                <th data-field="enabled"
                    data-title="是否可用"
                    data-formatter="enabledFormatter"
                    data-filter-control="select"
                    data-filter-data="url:/oauth2/common/select"
                    data-align="center"></th>

                <th data-field="updateDate"
                    data-sort-name="update_date"
                    data-sortable="true"
                    data-title="修改时间"
                    data-visible="false"
                    data-formatter="date_formatter"
                    data-align="center"></th>


                <th data-field="createDate"
                    data-sort-name="create_date"
                    data-sortable="true"
                    data-formatter="date_formatter"
                    data-title="创建日期"
                    data-visible="false"
                    data-align="center"></th>

                <th data-field="updateUserName"
                    data-title="修改人"
                    data-visible="false"
                    data-align="center"></th>

                <th data-field="createUserName"
                    data-title="创建人"
                    data-visible="false"
                    data-align="center"></th>

                <th data-field="orderIndex"
                    data-sort-name="ORDER_INDEX"
                    data-sortable="true"
                    data-title="排序"
                    data-visible="false"
                    data-align="center"></th>

                <th data-field="remark"
                    data-sortable="true"
                    data-title="备注"
                    data-align="center"></th>
            </tr>
            </thead>
        </table>
    </article>
    <!-- WIDGET END -->

</div>

<!-- end row -->
<script src="/static/oauth2/js/res_module.js"></script>
